:root {
	--green: #2A9D8F;
	--grey: #264653;
	--yellow: #E9C46A;
	--orange: #F4A261;
	--red: #E76F51;
}

#wrapper {
	overflow-x: hidden;
	font-family: 'Poppins';
}

#page-content-wrapper {
	min-width: 100vw;
}

.alert {
	z-index: 9999 !important;
	position: fixed;
	top: 10px;
	left: 10px;
	margin-left: 10px;
}

.help {
	line-height: 25px;
}

.help img {
	margin-bottom: 1rem;
	padding: .5rem;
	width: 100%;
	border: 3px solid #dee2e6;
}

.nav-link {
	outline: none !important;
}

.bg-grey, .bg-grey:hover {
	background-color: var(--grey);
	color: #ffffff;
}

.bg-green, .bg-green:hover {
	background-color: var(--green);
	color: #ffffff; }

.bg-yellow, .bg-yellow:hover {
	background-color: var(--yellow);
	color: #ffffff;
}

.bg-orange, .bg-orange:hover {
	background-color: var(--orange);
	color: #ffffff;
}

.bg-red, .bg-red:hover {
	background-color: var(--red);
	color: #ffffff;
}

.bg-light-grey { background-color: #ddd; }
.text-grey { color: var(--grey); }
.text-green { color: var(--green); }
.text-yellow { color: var(--yellow); }
.text-orange { color: var(--orange); }
.text-red { color: var(--red); }

.border {
	border: 3px solid #dee2e6!important;
}

#executing {
	color: white;
}

@media (min-width: 768px) {
	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}
}
